*.h           text eol=lf
*.c           text eol=lf
*.i           text eol=lf
*.s           text eol=lf
*.cpp         text eol=lf
*.txt         text eol=lf
Makefile      text eol=lf

# 二进制文件
*.o           binary
*.exe         binary
*.png         binary
*.zip         binary